/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  float: left;
  width: 15%;
  margin: 0 5%;
}

header nav {
  margin-left: 100px;
}

header nav li {
  width: 33%;
  float: left;
  list-style: none;
}

main > section {
  width: 50%;
  height: 600px;
  float: left;
}

main > section > img {
  width: 100%;
}

header > nav input {
  width: 100%;
}
footer {

}

main section h1 {
  font-size: 90px;
}

main section p {
  font-size: 20px;
}

main > section h1,
main > section img {
  margin-top: 200px;
}

main section > a {
  display: inline-block;
  background: rgb(0,106,236);
  color: white;
  text-decoration: none;
  height: 50px;
  width: 100px;
  text-align: center;
  padding-top: 15px;
  border-radius: 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
